.card {
  width: 100%;
  // max-width: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    .imageWrapper {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
      img {
        transform: scale(1.05);
      }
    }
  }
}

.imageWrapper {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background-color: $color-secondary-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 298px;
  transition: box-shadow 0.3s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
}

.info {
  padding: 12px 4px;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  color: $color-secondary;
  margin-bottom: 6px;
  
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;

  .ratingValue {
    font-size: 0.85rem;
    color: #777;
  }
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 8px;

  .price {
    font-weight: 600;
    color: #000;
    font-size: 1rem;
  }

  .oldPrice {
    color: #999;
    font-size: 0.9rem;
    text-decoration: line-through;
  }
}
