@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Satoshi-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Satoshi-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Satoshi-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Satoshi-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Satoshi-Regular.svg#Satoshi-Regular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Satoshi-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Satoshi-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Satoshi-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Satoshi-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Satoshi-Medium.svg#Satoshi-Medium') format('svg'); /* Legacy iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Satoshi-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Satoshi-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Satoshi-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Satoshi-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Satoshi-Bold.svg#Satoshi-Bold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

@font-face {
  font-family: 'Integral CF';
  src: url('../fonts/IntegralCFBoldRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/IntegralCFBoldRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/IntegralCFBoldRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/IntegralCFBoldRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/IntegralCFBoldRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/IntegralCFBoldRegular.svg#IntegralCFBoldRegular') format('svg'); /* Legacy iOS */
  font-weight: 700;
}

