@use 'normalize.css';
@use './fonts.scss';
@use './variables.scss' as *;

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'], li {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  all: unset; /* убирает ВСЕ браузерные стили */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

body {
  background: $color-bg;
  color: $color-primary;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4 {
  color: $color-secondary;
  font-family: 'Integral CF', sans-serif;
  font-weight: 700;
  margin: 0;
}

.btn {
  background-color: $color-secondary;
  color: $color-bg;
  border: none;
  border-radius: 50px;
  padding: 15px 36px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;

  &:hover {
    background-color: #333;
  }
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: $color-primary;
}

h2 {
  font-size: 3rem;
  margin-bottom: 60px;
}