.search-bar {
  display: flex;
  align-items: center;
  background-color: $color-secondary-bg;
  border-radius: 50px;
  padding: 12px 16px;
  width: 100%;
  margin-right: 40px;
  // max-width: 580px;

  &__btn {
    width: 20px;
    height: 20px;
    color: #7a7a7a;
    flex-shrink: 0;
  }

  &__input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #555;
    margin-left: 12px;

    &::placeholder {
      color: #888;
    }
  }
}
