.footer {
  background: #f2f2f2;
  padding: 140px 0 30px;

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 50px;
  }

  &__text {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__about {
    max-width: 260px;
  }

  &__socials {
    display: flex;
    gap: 12px;
    a {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      transition: 0.2s;

      img {
        width: 18px;
        height: 18px;
      }

      &:hover {
        background: #e5e5e5;
      }
    }
  }

  &__logo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    gap: 60px;
  }

  &__column {
    h4 {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 26px;
      text-transform: uppercase;
      font-family: 'Satoshi', sans-serif;
      font-weight: 500;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li a {
        color: $color-primary;
        font-size: 14px;

        &:hover {
          color: #000;
        }
      }
    }
  }

  &__bottom {
    padding-top: 25px;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: #555;
      font-size: 14px;
    }
  }
  &__payments {
    display: flex;
    gap: 12px;
  }
}
