.newsletter {
  transform: translateY(90px);
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    background: $color-secondary;
    border-radius: 20px;
    padding: 36px 64px;
    color: $color-bg;

    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__title {
    font-size: 40px;
    color: $color-bg;
    margin: 0;

    @media (max-width: 900px) {
      font-size: 30px;
    }

    @media (max-width: 600px) {
      font-size: 26px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 350px;

    @media (max-width: 900px) {
      width: 100%;
      max-width: 400px;
    }
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #777;
  }

  &__input {
    width: 100%;
    padding: 14px 14px 14px 40px;
    border-radius: 999px;
    border: none;
    font-size: 14px;
    color: #333;

    &::placeholder {
      color: #888;
    }
  }

  &__btn {
    background: #fff;
    color: #000;
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;

    &:hover {
      background: #f1f1f1;
    }
  }
}
